@import "variables";


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
$headings:(
	color1:white,
	color2:black,
	color3:#f4f5e6,
	color4:#3a3a3a,
);
$color1:map-get($headings, color1);
$color2:map-get($headings, color2);
$color3:map-get($headings, color4);
$color4:map-get($headings, color4);
body {
	background-image: url(img/fondo2.jpg);
	background-size: $completo;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.header{
	height: 60vh;
	background-image: url(img/header.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}
.navbar {
	navbar-expand-lg {
		navbar-light {
			bg-light {
				z-index: 2;
			}
		}
	}
}
.active {
	&:hover {
		background-color: $marron;
		color: $color1;
	}
}
.dropdown-item {
	&:hover {
		background-color: $marron;
		color: $color1;
	}
}
.botones {
	padding-top: 40px;
	padding-bottom: 40px;
}
.icon__pizza {
	padding: $pad;
	background-color: rgba(244, 245, 230, 0.8);
	border-top: $color1;
	border-bottom: $color1;
	border-right: $color1;
	border-style: groove;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover {
		transform: scale(1.2);
		transition: 0, 7s;
		box-shadow: 3px 3px 5px 3px;
	}
}
.icon__burger {
	padding: $pad;
	background-color: rgba(244, 245, 230, 0.8);
	border-top: $color1;
	border-bottom: $color1;
	border-left: $color1;
	border-style: groove;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover {
		transform: scale(1.2);
		transition: 0, 7s;
		box-shadow: 3px 3px 5px 3px;
	}
}
.icon__papas {
	padding: $pad;
	background-color: rgba(244, 245, 230, 0.8);
	border-top: $color1;
	border-bottom: $color1;
	border-style: groove;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover {
		transform: scale(1.2);
		transition: 0, 7s;
		box-shadow: 3px 3px 5px 3px;
	}
}
.container-fluid.fotos{
	height: 200px;
}
.marron {
	font-family: $titulos;
	text-transform: uppercase;
	font-size: 40px;
	font-style: normal;
	text-align: center;
	color: $marron;
	padding: $pad;
	background-color: rgba(244, 245, 230, 0.6);
	height: 100px;
	text-shadow: 1px 1px 4px;
	overflow: hidden;
}
.platos {
	background-image: url(img/fondo1.jpg);
	background-repeat: no-repeat;
	background-size: $completo;
	background-position: center;
	background-size: cover;
	border-top: solid $marron;
	height: 4g00px;
}
.menu__1 {
	background-image: url(img/platodeldia.JPG);
	height: 300px;
	margin: 50px;
	background-position: center;
	background-size: cover;
}
.menu__2 {
	background-image: url(img/plato2.JPG);
	height: 300px;
	margin: 50px;
	background-position: center;
	background-size: cover;
}
.menu__3 {
	background-image: url(img/plato3.JPG);
	height: 300px;
	margin: 50px;
	background-position: center;
	background-size: cover;
}
.negro--claro {
	text-align: center;
	width: $completo;
	background-color: $color4;
}
.blanco {
	font-family: $textos;
	font-weight: normal;
	text-align: center;
	color: $color1;
	padding-top: 30px;
}
.redes {
	padding: $pad;
	font-family: $textos;
	font-weight: normal;
	text-align: center;
	color: $color1;
	font-size: 30px;
}
.pedido {
	overflow: hidden;
	text-align: center;
	color: $color2;
	padding-bottom: $pad;
	font-weight: bold;
	font-family: $textos;
}
.pedido.oscuro {
	color: $color2;
	padding: $pad;
}
.pedido.claro {
	color: $color1;
	padding: $pad;
}
.mapa {
	padding-left: $pad+10;
}
.centro {
	justify-content: center;
	width: 1700px;
	height: 500px;
	padding: $pad+30;
}
.local {
	text-align: center;
	align-items: center;
	padding: $pad;
	color: $color1;
}
#menuCompleto {
	background-color: $color3;
	padding-bottom: 100px;
}
.menu {
	font-family: $textos;
	color: $color2;
	font-weight: bold;
	padding: 10px;
	list-style: square;
	
}
.marron1{
	font-family: $titulos;
	text-transform: uppercase;
	font-size: 30px;
	font-style: normal;
	text-align: center;
	color: $marron;
	padding: $pad;
	background-color: rgba(244, 245, 230, 0.6);
	height: 100px;
	text-shadow: 1px 1px 4px;
}
@media screen and (max-width:767px) {
	.platos {
		height: 700px;
	}
	.menu__1 {
		height: 200px;
		margin: 10px;
	}
	.menu__2 {
		height: 200px;
		margin: 10px;
	}
	.menu__3 {
		height: 200px;
		margin: 10px;
	}
	.negro--claro {
		height: 370px;
	}
	.marron{
		font-size: 35px;
		padding: 5px;
	}
	.titulo{
		padding: 10px;
	}
}
